		<footer>
			<div class="container">
				<span class="col eight leftInfo">
				
				<div class="footerlogo"></div>
				
				
				<p class="copyright">Copyright &copy; @current_year, @name, All Rights Reserved.</p>
				
				<p class="address">@address</p>
				
				<p class="credits"><strong>Credits:</strong> Content managed by <a href="http://www.staceyapp.com">Stacey @stacey_version</a>. Slideshows throughout the site use the <a href="http://backflip.github.com/jquery-carousel/">backflip/jQuery Carousel</a>. Site built using <a href="http://panic.com/coda/">Coda 2</a>, <a href="http://incident57.com/codekit/">Codekit</a>, CSS3, HTML5, and <a href="http://lesscss.org/">LESS</a>. Illustrations are made using <a href="http://itunes.apple.com/us/app/inkpad/id400083414?mt=8">Inkpad for iPad</a>. </p> 
				
				
				</span>
				
			
			
				
				
				
				<span class="col three">

				<!-- <a class="atom-rss" href="@root_path/?/feed/">RSS</a> -->
				
				<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">

<a class="addthis_button_facebook" style="cursor:pointer"></a>
<a class="addthis_button_twitter" style="cursor:pointer"></a>
<a class="addthis_button_pinterest_share" style="cursor:pointer"></a>
<a class="addthis_button_email" style="cursor:pointer"></a>
</div>

</div>
<!-- <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script> -->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=mdavis682"></script>
<!-- AddThis Button END -->

				</span>
			</div>
		
		</footer>
		
<!-- Google Analytics Code -->
