foreach $root do
  if $children do
    <div class="category">
	<!-- <p><em><a href="@url">@title</a></em></p> -->
    </div>
    
    <div>
    <ul class="project-list ">
    foreach $children[0:3] do
    	<li>
    		<div class="thumbnail ">
    			<a href="@url">
    				
    				<div class="thumbnailContent">
    				<span class="title">@title</span>
    				<span class="description">@description</span>
    				</div>
    				
    				<img src="@thumb" alt="">
    			</a>
    			
    			
    		</div>
    		
    		
    	</li>
    endforeach
    </ul>
    </div>
   
  endif
endforeach