/*
                           .                                                    
                         . ..                                                   
                         .. .                                                   
                          ZZZ. .                                                
                          .Z$ZO?                                                
                         .. .ZZZZ.                                              
                   ?:  ... ...$ZZ$,                          . . . .            
                  $Z$=.   ..  . IZZ=.                       .     .             
                 .Z+ZZ.  .. ~Z?..,ZZ?.                      ~$ZZZZ$.            
         =~$ZZI .$Z.IZ ...  +ZZ~. .ZZ=  .   . ... ZZ.Z.  :ZZZ$?=:?ZZ~ .         
         ZZZZZZ+ Z? :Z, ..  ~ZZ+... Z$. Z$..   .  ZZ Z+ 7ZZ. . .. .    .        
        .ZZZ +ZZ=Z...Z=...  :ZZ+. . ,ZZ$ZZ+  ..   ZZ.ZZ.Z$7= . .  ..  .         
        .ZZZ .Z$ZZ...Z7  ... ZZ:  .  ZZZZZ+IZ~ .. ZZ.ZZ+ ?ZZZZZZZ= .. .         
        .ZZI. ZZZZ...ZZ.   . ZZ:. ...ZZZIZIIZZ.   ZZ.ZZZ  .   ,~$Z$Z=           
         ZZ=  ZZZ7 ..ZZ:   . ZZ=.   =ZZI:ZZ:ZZ   .$Z.$ZZ  =ZZZZ$Z:.ZZ~ .        
         ZZ:. ZZZ+. .ZZ?.. ..ZZ+ .. ZZ7.=ZZ.ZZZ~..IZ.+ZZ.Z$$,:7$$Z ,ZI          
        .ZZ  .ZZZ:.  ZZ$..  .ZZ+. .7ZZ,.ZZZ.ZZZZ:.+Z:,Z$~Z$..+ZZ~ ,ZZ, .        
         ZZ:  ZZZ. . ZZZ. .  ZZ7 .?ZZZ..ZZZIZ?:$Z$:Z, ZZ+ZZ:  .,?Z$Z, .         
         ZZ:  ZZZ.   ZZZ   . ZZZ ?ZZZZIOZ.ZZZ, .:Z$7. ZZI.ZZZZZZZI.   .         
        .Z$:..ZZZ .. Z$Z ...:ZZZZZZ.ZZ$Z?..,..........?ZZ............  .        
         ZZ:. ZZZ   .IZZ:   ZZZZ$7:$~ZZ+~ZZZZZZZZZZZZZI:=ZZZZZZZZZZZZZ          
         ZZ~  ZZZ .. .Z$ ...ZZZZ,$ZZZ+ZZ$ZZZZZZZZZZZZZZZZZ$ZZZZZZZZZZZ..        
         =O,..,++ ... .:Z~  7+ .ZZZZZ7IIO7I7ZZ+Z$Z7Z7$$7ZZ7Z=$$$?ZZZZZ .        
        . .   . .. .  =ZZ~  . ..ZZZZZ=$$.:Z:Z+,~7? ?.II+.Z+ ZI+ ZZZZZZ .        
         ..   . ... . .:+    .. Z$ZZZ+II.:I,Z . $ 7 +II+Z.=.Z.7?$=Z$ZZ .        
                             . .ZZZZZZZZZZZ$ZZZZZZZZZZZZZZZZZZZZZZZZZ$ .        
                              ..ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ.         
                             . .. .................................... .     
                             

Copyright © 2012, M.Davis Drawings, All Rights Reserved.
M.Davis Drawings – P.O. Box 342 – Bath, MI 48808
........................................................................
Credits: Content managed by Stacey 2.3.0.
Slideshows throughout the site use the backflip/jQuery Carousel.
Site built using Coda 2, Codekit, CSS3, HTML5, and LESS.
Illustrations are made using Inkpad for iPad.
  
*//* !Less */
.boxSizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.fade {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
@-webkit-keyframes drop {
  from {
    top: -3%;
  }
  80% {
    top: -1%;
  }
  60% {
    top: 0;
  }
  40% {
    top: -1%;
  }
  20% {
    top: -2%;
  }
  10% {
    top: -2.5%;
  }
  to {
    top: -3%;
  }
}
@-moz-keyframes drop {
  from {
    top: -3%;
  }
  80% {
    top: -1%;
  }
  60% {
    top: 0;
  }
  40% {
    top: -1%;
  }
  20% {
    top: -2%;
  }
  10% {
    top: -2.5%;
  }
  to {
    top: -3%;
  }
}
/* !Layout */
html,
body {
  height: 100%;
}
html {
  /* .htmlBackground; */

  background-image: url(../../images/explorerBackground.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed;
}
body {
  margin: 0px auto;
  padding: 0px;
  font-weight: 300;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
header {
  height: 140px;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
  z-index: 200;
}
.logo {
  text-indent: -10000px;
  width: 250px;
  height: 145px;
  display: block;
  background-image: url(../../images/mdavisDrawingsLogo.png);
  background-image: none, url(../../images/mdavisDrawingsLogo.svg), url(../../images/space.gif);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: -10px;
}
div.container {
  width: 900px;
  background-color: transparent;
}
.introIllustration {
  height: 535px;
  background-image: url(../../images/explorer.png);
  /* background-image: none,url(../../images/explorer.svg),url(../../images/space.gif); */
  /* Had to turn this option off because it takes to long for that SVG file to load. */

  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  top: -10px;
  right: 0px;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-animation-name: drop;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-transform: translate3d(0, 0, 0);
  -moz-perspective: 1000;
}
#intro {
  height: 550px;
  margin-top: -220px;
  margin-bottom: -10px;
  position: relative;
  z-index: 100;
}
#intro .introText {
  width: 360px;
  margin: -335px 0 0;
}
h1 {
  margin: 0px;
  line-height: .8em;
  font-size: 3em;
  margin-top: -5px;
  font-weight: 300;
}
.description h1 {
  /* border-bottom:  1px solid #CCC; */

  padding-bottom: 10px;
  margin-bottom: -20px;
  position: relative;
  z-index: 100;
}
h1,
h2,
h3 {
  font-weight: 300;
}
#content div.col.seven h2 {
  color: #333;
  /*border-top: 1px solid #CCC;*/

  border-bottom: 1px solid #CCC;
  font-size: 1.5em;
}
#content div.col.seven h2:nth-child(n+6) {
  margin-top: 50px;
}
#content div.col.seven p {
  margin-bottom: 20px;
  margin-left: 10px;
}
#content div.col.seven ol,
#content div.col.seven ul,
#content div.col.seven p {
  font-family: Merriweather, serif;
  font-size: .9em;
  line-height: 1.5em;
  color: #595959;
}
.keywords,
.author {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding-top: 5px;
  padding-bottom: 5px;
}
.by {
  font-size: .75em;
}
.description p.date {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: .8em;
}
.descriptionContent {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 16px 0;
}
.price {
  display: block;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
}
.price p {
  color: #222 !important;
}
.size {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
}
.details {
  font-size: .85em;
  font-weight: 100;
  color: #999;
  line-height: 1.2em;
}
ul.project-list {
  width: 930px !important;
  display: block;
  clear: both;
  position: relative;
  left: -15px;
}
ul.project-list li {
  width: 300px !important;
  float: left;
  display: block;
  padding-bottom: 10px;
  margin: 0px 10px 0px 0px !important;
}
ul.project-list-footer {
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
}
ul.project-list-footer li {
  float: left;
  clear: both;
  display: block;
  padding-bottom: 0px;
  width: 100%;
  padding: 2px;
}
ul.project-list-footer li a {
  padding: 5px;
}
a {
  padding: 5px;
}
a:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
footer a {
  color: white;
}
#media {
  overflow: hidden;
}
.category {
  height: 60px;
  display: block;
  clear: both;
  /* 	width: 960px; */

}
.category p {
  padding: 20px 10px;
  font-weight: bold;
}
.categoryDescription {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin-bottom: 40px;
}
.thumbnail {
  width: 300px;
  height: 225px;
  overflow: hidden;
}
.thumbnail a img {
  position: absolute;
  top: 307px;
  left: 0;
  padding: 0;
  margin-top: -305px;
  width: 300px;
  height: 225px;
  overflow: hidden;
  z-index: -1;
}
.thumbnail a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  display: block;
  width: 300px;
  height: 450px;
  padding: 170px 0px 0px 0px;
  position: relative;
  z-index: 10;
  margin-left: 0px;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.thumbnail a:hover {
  padding-top: 0px;
}
.thumbnailContent {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #000000;
  /* IE8 Fallback color */

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 300px;
  height: 230px;
  padding: 20px;
}
.thumbnail a span.title {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  /* width: 260px; */

  display: block;
  font-weight: bold;
  color: white;
}
.thumbnail a span.description {
  font-size: .8em;
  display: block;
  padding-top: 10px;
  color: white;
}
.thumbnail a span.date {
  color: #999;
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  bottom: 20px;
  color: white;
}
#gallery-info {
  width: 540px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
#gallery-count {
  float: left;
}
#gallery-navigation {
  float: right;
}
.vcard p {
  margin-bottom: 0px !important;
  font-size: 1.25em !important;
}
hr.push {
  display: block;
  height: 300px;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
footer {
  background: url(../../images/footerBackground.png) top left;
  background-color: #2f2f2f;
  background-repeat: repeat-x;
  clear: both;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 250px;
  padding-top: 25px;
  font-size: .8em;
  z-index: 10000;
  border-top: 1px solid #CCC;
  outline: 1px solid #EEE;
  color: #888;
}
.footerlogo {
  width: 150px;
  height: 150px;
  float: left;
  background-image: url(../../images/mdavisDrawingsFooterLogo.png);
  background-image: none, url(../../images/mdavisDrawingsFooterLogo.svg), url(../../images/space.gif);
}
/*
	The .container background color rule
	is for testing purposes only.
	to ensure that the maximum possible
	width is being used. Some of the column
	widths have been adjusted to suit this.
*/
/*
.container {
	background-color: green;
}
*/
/*
footer span {
	background-color: aqua;	
}
*/
footer span.two {
  text-align: right;
  width: 160px;
}
/* !Navigation */
.nav {
  position: relative;
  top: 25px;
  height: 40px;
  line-height: 40px;
}
.nav a:hover {
  color: #114f53;
  background: transparent;
}
.navItems {
  position: relative;
  left: 135px;
}
.homepagenavItems {
  position: relative;
  left: 135px;
}
.homepagenavItems a {
  color: white;
}
/* !Suckerfish Main Nav Dropdown */
header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header li {
  float: left;
  position: relative;
  padding: 5px;
  margin: 0px 20px 0px -5px;
}
header li ul {
  display: none;
  position: absolute;
  top: -50px;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #19787e;
  background-color: rgba(25, 120, 126, 0.7);
}
header li > ul {
  top: auto;
  left: auto;
}
header li:hover ul {
  display: block;
  /*
	
	If you were to move the position of the suckerfish dropdown this is where it would be set.
	
	position: absolute;
	left: -50px;
	*/

}
header li ul li {
  width: 200px;
  display: block;
  margin: 0;
  padding: 0;
}
header li ul li a {
  display: block;
  width: 160px;
  height: 20px;
  margin: 0;
  color: white !important;
  line-height: 20px;
}
header li ul li:hover,
header li ul li a:hover {
  width: 190px;
  background-color: #19787e;
}
header ul li a {
  padding: 5px !important;
}
/* End Suckerfish Main Nav Dropdown */
a.projectTitle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 130px;
  height: 100px;
  background-color: transparent;
  float: left;
  margin-right: 10px;
}
a.projectTitle:hover {
  background-color: transparent;
  color: #888;
}
.prevArrow {
  background-image: url(../../images/arrows.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.prevArrow:hover {
  background-position: -130px 0px;
}
.nextArrow {
  background-image: url(../../images/arrows.png);
  background-repeat: no-repeat;
  background-position: -390px 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.nextArrow:hover {
  background-position: -260px 0px;
}
a.projectTitle span {
  display: block;
  padding-top: 155px;
  visibility: hidden;
}
a.projectTitle:hover span {
  padding-top: 55px;
  visibility: visible;
}
a.projectTitle span em {
  font-size: .9em;
  color: #222;
}
/* !Colors */
::selection {
  background-color: #19787e;
  color: white;
}
a {
  color: #19787e;
  padding: 2px;
  margin: -2px;
}
a:hover {
  color: white;
  background-color: #19787e;
}
a.logo:hover {
  background-color: transparent;
}
header .nav .navItems a {
  color: #777;
}
header .nav a:hover {
  color: white;
  background-color: #19787e;
}
h1 a:hover {
  background-color: transparent;
  color: #19787e;
}
.description p {
  color: #888;
}
.leftInfo {
  margin-top: -20px;
}
.copyright {
  margin-top: 40px;
}
.credits {
  border-top: 1px solid #888;
  padding-top: 5px;
  width: 400px;
  float: left;
  font-size: .95em;
}
.credits a {
  color: #AAA;
}
.credits a:hover {
  color: white;
}
a.atom-rss {
  background-color: #888;
  font-weight: bold;
  color: white;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
a.atom-rss:hover {
  background-color: #19787e;
}
/* !Backflip jQuery Carousel */
.carousel {
  list-style-type: none;
  padding: 0;
}
.carousel-frame {
  /* overflow: hidden; */

  position: relative;
  border-bottom: 1px solid #999;
}
.carousel-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  /* Trigger hardware acceleration */

  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  -webkit-transform: translatez(0);
  transform: translatez(0);
  width: 100%;
}
.carousel-slide {
  float: left;
  margin: 0;
  padding: 0;
}
/* Prev / next navigation */
.carousel-nav {
  margin: 0.5em 0;
  zoom: 1;
  float: right;
  padding: 5px;
  text-align: right;
}
.carousel-nav:before,
.carousel-nav:after {
  content: "";
  display: table;
}
.carousel-nav:after {
  clear: both;
}
.carousel-nav span {
  cursor: pointer;
  float: left;
}
.carousel-nav .carousel-next {
  color: #19787e;
  padding: 5px;
}
.carousel-nav .carousel-next:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.carousel-nav .carousel-prev {
  color: #19787e;
  padding: 5px;
  border-right: 1px solid #999;
}
.carousel-nav .carousel-prev:after {
  content: " ";
}
.carousel-nav .carousel-prev:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.carousel-nav .state-disabled {
  color: #999;
  cursor: default;
  outline: none;
}
.carousel-nav .state-disabled:hover {
  color: #999;
  cursor: default;
  outline: none;
  background: transparent;
}
/* Counter ("slide x of y") */
.carousel-counter {
  margin: 0.5em 0;
  padding: 10px;
  border-bottom: 1px solid #999;
}
/* Handles */
.carousel-handles {
  margin: 0.5em auto;
  text-align: center;
  padding: 10px;
  position: absolute;
  margin-top: -98px;
  font-size: 12px;
  width: 520px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-handles span {
  cursor: pointer;
  margin: 0 0.2em;
  padding: 2px 5px;
  color: white;
}
.carousel-handles .state-disabled {
  color: white;
  cursor: default;
  outline: none;
  padding: 2px 5px;
}
.carousel-handles .state-current {
  color: white;
  cursor: default;
  outline: none;
  background-color: #19787e;
  padding: 2px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* WePay OverRides */
.wepay-widget-button {
  -webkit-border-image: none;
  -webkit-box-shadow: white 0px 1px 0px 0px inset;
  -webkit-user-select: none;
  background-color: #F6F6F6;
  background-image: -webkit-linear-gradient(-90deg, #ffffff, #ececec);
  background-repeat: repeat-x;
  border-bottom-color: lightGrey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: lightGrey;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: lightGrey;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: lightGrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: white 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: #777 !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima', Arial, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: 18.049999237060547px;
  margin-bottom: 0px;
  margin-left: -5px;
  margin-right: 20px;
  margin-top: 5px !important;
  min-width: 75px;
  outline-color: #777;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px !important;
  position: static;
  text-align: center;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
  top: auto;
  width: 115px;
}
.addToCartButton {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  background-repeat: repeat-x !important;
  background-color: #7ecca9 !important;
  background-image: -webkit-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -moz-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -ms-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -o-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: linear-gradient(-90deg, #7ecca9, #19787e) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecca9',endColorstr='#19787e') !important;
  color: white !important;
  text-shadow: 1px 0px 0px #19787e !important;
  border: 1px solid #0c3b3e !important;
  -webkit-border-image: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.347656) 0px 1px 0px 0px inset;
  -webkit-user-select: none;
  border-bottom-color: #0C3B3E;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #0C3B3E;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #0C3B3E;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #0C3B3E;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.347656) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima', Arial, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  letter-spacing: normal;
  line-height: 18.049999237060547px;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 10px !important;
  min-width: 150px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px !important;
  text-align: center;
  text-decoration: none;
  text-shadow: none !important;
  width: 150px !important;
}
.addToCartButton:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  background-repeat: repeat-x !important;
  background-color: #9bd8bc !important;
  background-image: -webkit-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -moz-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -ms-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -o-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecca9',endColorstr='#19787e') !important;
  color: white !important;
  text-shadow: 1px 0px 0px #19787e !important;
  border: 1px solid #0c3b3e !important;
  margin-top: 10px;
  text-shadow: none !important;
}
.wepay-dialog-close a {
  font-weight: normal !important;
  font-family: 'Proxima', Arial, sans-serif !important;
  text-shadow: none !important;
}
.wepay-dialog-close a:hover {
  color: white !important;
  font-weight: normal !important;
  font-family: 'Proxima', Arial, sans-serif !important;
  text-shadow: none !important;
}
.wepay-store-widget {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
.item-price-box {
  text-align: left !important;
  background-color: transparent !important;
}
#wepay-widgets-dialogs-wrapper,
.wepay-widget-dialog .wepay-dialog-topbar h2,
.widget-stores {
  font-family: 'Proxima', Arial, sans-serif !important;
}
/* !JotForm OverRides */
.form-subHeader {
  color: aqua !important;
}
/* !AddThis OverRides */
.addthis_toolbox {
  border-bottom: 1px solid #CCC;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  position: relative;
  top: -10px;
}
.addthis_toolbox a,
addthis_toolbox a:hover {
  background-color: transparent;
  margin-top: 20px;
  margin-right: 10px;
}
.addthis_button_tweet {
  width: 75px !important;
  margin: 0px;
}
.addthis_button_facebook_like {
  width: 70px !important;
}
