/* !Less */
@-webkit-keyframes drop {
  from {
    top: -3%;
  }
  80% {
    top: -1%;
  }
  60% {
    top: 0;
  }
  40% {
    top: -1%;
  }
  20% {
    top: -2%;
  }
  10% {
    top: -2.5%;
  }
  to {
    top: -3%;
  }
}
/* !Layout */
html,
body {
  height: 100%;
}
html {
  /* 	background-color: rgba(255,255,230,1); */

  background-image: -webkit-linear-gradient(#ffffe6 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(#ffffe6 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(#ffffe6 0%, #ffffff 100%);
  background-image: -o-linear-gradient(#ffffe6 0%, #ffffff 100%);
  background-image: linear-gradient(#ffffe6 0%, #ffffff 100%);
  background-repeat: repeat-x;
}
body {
  margin: 0px 0px 100px 0px;
  padding: 0px;
  font-weight: 300;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
header {
  height: 140px;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
  z-index: 200;
}
.logo {
  text-indent: -10000px;
  width: 250px;
  height: 145px;
  display: block;
  background-image: url(../../images/mdavisDrawingsLogo.png);
  background-image: none, url(../../images/mdavisDrawingsLogo.svg), url(../../images/space.gif);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: -10px;
}
div.container {
  width: 920px;
  background-color: transparent;
}
.nav {
  position: relative;
  top: 25px;
  text-align: right;
  height: 40px;
}
.nav em {
  line-height: 40px;
}
.nav .wepay-widget-button {
  -webkit-border-image: none;
  -webkit-box-shadow: white 0px 1px 0px 0px inset;
  -webkit-user-select: none;
  background-color: #F6F6F6;
  background-image: -webkit-linear-gradient(-90deg, #ffffff, #ececec);
  background-repeat: repeat-x;
  border-bottom-color: lightGrey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: lightGrey;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: lightGrey;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: lightGrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: white 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: 18.049999237060547px;
  margin-bottom: 0px;
  margin-left: -5px;
  margin-right: 20px;
  margin-top: 0px;
  min-width: 75px;
  outline-color: #777;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: static;
  text-align: center;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
  top: auto;
  width: 115px;
}
.nav a:hover {
  color: #114f53;
  background: transparent;
}
.introIllustration {
  height: 535px;
  background-color: green;
  background-image: url(../../images/explorer.png);
  background-image: none, url(../../images/explorer.svg), url(../../images/space.gif);
  background-position-x: right;
  background-repeat: no-repeat;
  position: relative;
  top: -10px;
  right: -10px;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#intro {
  height: 550px;
  margin-top: -220px;
  margin-bottom: -10px;
  position: relative;
  z-index: 100;
}
#intro .introText {
  width: 360px;
  margin: -400px 0 0;
}
h1 {
  margin: 0px;
  line-height: .8em;
  font-size: 3em;
  margin-top: -5px;
  font-weight: 300;
}
.description h1 {
  /* border-bottom:  1px solid #CCC; */

  padding-bottom: 10px;
  margin-bottom: -20px;
  position: relative;
  z-index: 100;
}
h1,
h2,
h3 {
  font-weight: 300;
}
div.col.seven h2 {
  color: #333;
  /*border-top: 1px solid #CCC;*/

  border-bottom: 1px solid #CCC;
  font-size: 1.5em;
}
div.col.seven h2:nth-child(n+6) {
  margin-top: 50px;
}
div.col.seven p {
  margin-bottom: 20px;
  margin-left: 10px;
}
div.col.seven ol,
div.col.seven ul,
div.col.seven p {
  font-family: Merriweather, serif;
  font-size: .9em;
  line-height: 1.5em;
  color: #595959;
}
.keywords,
.author {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding-top: 5px;
  padding-bottom: 5px;
}
.by {
  font-size: .75em;
}
.descriptionContent {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}
.details {
  font-size: .85em;
  font-weight: 100;
  color: #999;
}
ul.project-list {
  width: 960px !important;
  display: block;
  clear: both;
}
ul.project-list li {
  width: 300px;
  float: left;
  display: block;
  padding-bottom: 20px;
}
ul.project-list-footer {
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
}
ul.project-list-footer li {
  float: left;
  clear: both;
  display: block;
  padding-bottom: 0px;
  width: 100%;
  padding: 2px;
}
ul.project-list-footer li a {
  padding: 5px;
}
a {
  padding: 5px;
}
a:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
footer a {
  color: white;
}
#media {
  overflow: hidden;
}
.category {
  height: 60px;
  display: block;
  clear: both;
  width: 960px;
}
.category p {
  padding: 20px 10px;
  font-weight: bold;
}
.categoryDescription {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin-bottom: 40px;
}
.thumbnail {
  width: 300px;
  height: 205px;
}
.thumbnail img {
  position: absolute;
  margin-top: -205px;
  width: 300px;
  height: 205px;
  overflow: hidden;
}
.thumbnail a {
  background-color: transparent;
  display: block;
  width: 260px;
  height: 165px;
  padding: 20px;
  position: relative;
  z-index: 10;
  opacity: 0;
  margin-left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.thumbnail a:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  width: 260px;
  height: 165px;
  opacity: 1;
}
.thumbnail a span.title {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  width: 260px;
  display: block;
  font-weight: bold;
}
.thumbnail a span.description {
  font-size: .8em;
  display: block;
  padding-top: 10px;
}
.thumbnail a span.date {
  color: #999;
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  bottom: 20px;
}
#gallery-info {
  width: 540px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
#gallery-count {
  float: left;
}
#gallery-navigation {
  float: right;
}
hr.push {
  display: block;
  height: 300px;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
footer {
  background: url(../../images/darkdenim3.png) top left;
  clear: both;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 250px;
  padding-top: 25px;
  font-size: .8em;
  z-index: 10000;
  border-top: 1px solid #CCC;
  outline: 1px solid #EEE;
  color: #888;
}
.footerlogo {
  width: 150px;
  height: 150px;
  float: left;
  background-image: url(../../images/mdavisDrawingsFooterLogo.png);
  background-image: none, url(../../images/mdavisDrawingsFooterLogo.svg), url(../../images/space.gif);
}
/*
	The .container background color rule
	is for testing purposes only.
	to ensure that the maximum possible
	width is being used. Some of the column
	widths have been adjusted to suit this.
*/
/*
.container {
	background-color: green;
}
*/
/*
footer span {
	background-color: aqua;	
}
*/
footer span.two {
  text-align: right;
  width: 160px;
}
/* !Colors */
::selection {
  background-color: #19787e;
  color: white;
}
a {
  color: #19787e;
  padding: 2px;
  margin: -2px;
}
a:hover {
  color: white;
  background-color: #19787e;
}
a.logo:hover {
  background-color: transparent;
}
header em a {
  color: #AAA;
  padding: 5px;
  margin: 0px 20px 0px -5px;
}
header em a:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
header .homepage em a {
  color: white;
  padding: 5px;
  margin: 0px 20px 0px -5px;
}
header em a:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
h1 a:hover {
  background-color: transparent;
  color: #19787e;
}
.description p {
  color: #888;
}
.description p.date {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: .8em;
}
.leftInfo {
  margin-top: -20px;
}
.copyright {
  margin-top: 20px;
}
.credits {
  border-top: 1px solid #888;
  padding-top: 5px;
  width: 210px;
  float: right;
}
.credits a {
  color: #AAA;
}
.credits a:hover {
  color: white;
}
a.atom-rss {
  background-color: #888;
  font-weight: bold;
  color: white;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
a.atom-rss:hover {
  background-color: #19787e;
}
/* !Backflip jQuery Carousel */
.carousel {
  list-style-type: none;
  padding: 0;
}
.carousel-frame {
  /* overflow: hidden; */

  position: relative;
  border-bottom: 1px solid #999;
}
.carousel-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  /* Trigger hardware acceleration */

  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  -webkit-transform: translatez(0);
  transform: translatez(0);
  width: 100%;
}
.carousel-slide {
  float: left;
  margin: 0;
  padding: 0;
}
/* Prev / next navigation */
.carousel-nav {
  margin: 0.5em 0;
  zoom: 1;
  float: right;
  padding: 5px;
  text-align: right;
}
.carousel-nav:before,
.carousel-nav:after {
  content: "";
  display: table;
}
.carousel-nav:after {
  clear: both;
}
.carousel-nav span {
  cursor: pointer;
  float: left;
}
.carousel-nav .carousel-next {
  color: #19787e;
  padding: 5px;
}
.carousel-nav .carousel-next:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.carousel-nav .carousel-prev {
  color: #19787e;
  padding: 5px;
  border-right: 1px solid #999;
}
.carousel-nav .carousel-prev:after {
  content: " ";
}
.carousel-nav .carousel-prev:hover {
  color: white;
  background-color: #19787e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.carousel-nav .state-disabled {
  color: #999;
  cursor: default;
  outline: none;
}
.carousel-nav .state-disabled:hover {
  color: #999;
  cursor: default;
  outline: none;
  background: transparent;
}
/* Counter ("slide x of y") */
.carousel-counter {
  margin: 0.5em 0;
  padding: 10px;
  border-bottom: 1px solid #999;
}
/* Handles */
.carousel-handles {
  margin: 0.5em auto;
  text-align: center;
  padding: 10px;
  position: absolute;
  margin-top: -98px;
  font-size: 12px;
  width: 520px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-handles span {
  cursor: pointer;
  margin: 0 0.2em;
  padding: 2px 5px;
  color: white;
}
.carousel-handles .state-disabled {
  color: white;
  cursor: default;
  outline: none;
  padding: 2px 5px;
}
.carousel-handles .state-current {
  color: white;
  cursor: default;
  outline: none;
  background-color: #19787e;
  padding: 2px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* WePay Overrides */
.addToCartButton {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  background-repeat: repeat-x !important;
  background-color: #7ecca9 !important;
  background-image: -webkit-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -moz-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -ms-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: -o-linear-gradient(-90deg, #7ecca9, #19787e) !important;
  background-image: linear-gradient(-90deg, #7ecca9, #19787e) !important;
  color: white !important;
  text-shadow: 1px 0px 0px #19787e !important;
  border: 1px solid #0c3b3e !important;
  -webkit-border-image: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.347656) 0px 1px 0px 0px inset;
  -webkit-user-select: none;
  border-bottom-color: #0C3B3E;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #0C3B3E;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #0C3B3E;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #0C3B3E;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.347656) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima', Arial, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  letter-spacing: normal;
  line-height: 18.049999237060547px;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 10px;
  min-width: 150px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: none !important;
  width: 150px !important;
}
.addToCartButton:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35) !important;
  background-repeat: repeat-x !important;
  background-color: #9bd8bc !important;
  background-image: -webkit-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -moz-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -ms-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: -o-linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  background-image: linear-gradient(-90deg, #9bd8bc, #2098a0) !important;
  color: white !important;
  text-shadow: 1px 0px 0px #19787e !important;
  border: 1px solid #0c3b3e !important;
  margin-top: 10px;
  text-shadow: none !important;
}
.wepay-dialog-close a {
  font-weight: normal !important;
  font-family: 'Proxima', Arial, sans-serif !important;
  text-shadow: none !important;
}
.wepay-dialog-close a:hover {
  color: white !important;
  font-weight: normal !important;
  font-family: 'Proxima', Arial, sans-serif !important;
  text-shadow: none !important;
}
.wepay-store-widget {
  background-color: transparent !important;
}
.item-price-box {
  text-align: left !important;
  background-color: transparent !important;
}
#wepay-widgets-dialogs-wrapper,
.wepay-widget-dialog .wepay-dialog-topbar h2,
.widget-stores {
  font-family: 'Proxima', Arial, sans-serif !important;
}
