<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		
		:head
		
	</head>
	<body>
	  <div id="wrapper">
		<header>
			<div class="container">
				<h1 class="col five">
					<a href="@root_path/" class="logo">@name</a>
				</h1>
			
				<p class="col seven nav"><em>:pages</em></p>
				
			</div>
		</header>
		
		
		
			<div class="container">
			
			<div class="categoryDescription">
				<h2>@title</h2>
			 
				<p>
				@content
				</p>
			</div>
			
			<div id="content" class="home">
				:items_list
			</div>
		
		<hr class="push">	
		</div>


		:footer
		
	  </div>
	</body>
</html>