<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		
		:head
		:fbthumb
	</head>
	<body>
	  <div id="wrapper">
		<header>
			<div class="container">
				<h1 class="col four">
					<a href="@root_path/" class="logo">@name</a>
				</h1>
			
				<div class="col six nav">
					<div class=navItems>
						:pages
					</div>
				</div>
				
			</div>
		</header>
	
		<div id="content" class="container" role="main">
			
			<div class="description col four">
				<h1>@title</h1>
				<p>@description</p>
			</div>
				
			<div class="col seven">
				:media
					
				@content
			</div>
		
		<hr class="push">		
		</div>
		
		
			
		:footer
		
	  </div>
	  
	  :analytics
	  
	</body>
</html>