<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		
		:head
		 
		:fbthumb
		 
	</head>
	<body>
	  <div id="wrapper">
		<header>
			<div class="container">
				<h1 class="col four">
					<a href="./" class="logo">@name</a>
				</h1>
			
				<div class="col six nav homepage">
					<div class=homepagenavItems>
						:pages
					</div>
				</div>
				
			</div>
		</header>
		
		
		
		<div id="intro"> 
			<div class="container introIllustration"></div>
			<div class="container">
				<div class="introText">
				<p>
				@content 
				</p>
				</div>
				
			</div>
		</div>
		
		<div class="container">
			
			
			
			<div id="content" class="home">
				:category_list
			</div>
		
		<hr class="push">	
		</div>
		
		
		
		:footer
		
		
	  </div>
	</body>
</html>